@{
    ViewData["Title"] = "Strona główna";
}

<div class="container">  
    <div class="row">  
        <div class="col-md-12">  
            
            <h4>                                                </h4> 
            <h2><strong>Witamy w "Świecie Zbrodni" </strong></h2><br /><br />  
           
            „Świat Zbrodni” to aplikacja internetowa, w której możesz założyć własny gang, wypełnić go członkami i stworzyć bazę dla swojej nielegalnej organizacji.
            W przyszłości dostępna będzie dodatkowa funkcja, taka jak możliwość wysyłania członków gangu na walki z członkami innych gangów i zdobywania punktów rankingowych, aby dostać się na sam szczyt świata przestępczego.
            <br />  
            <h4></h4> 
            Jesteś zalogowany jako: @User.Identity.Name  
            <h4></h4>  
            <a asp-action="login" asp-controller="account">
                Zaloguj się, aby odblokować wszystkie funkcje
            </a>  
             
            <h4></h4>  
        </div>  
    </div>  
</div> 

